{% extends "layout.html" %}

{% block footer %}

{% comment %} footer {% endcomment %}

<section>
    <div class="footer pt-5 pb-3" style="background-color: rgb(0, 0, 0);">
        <div class="container">
            <div class="logo_image mb-5">
                <div class="logo">
                    <img src="{% static "/images/titan-logo.svg" %}" class="img-fluid" alt="Titan Logo">
                </div>

            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="Brands">
                        <h3 class="text-white mb-3">Brands</h3>
                        <div class="Brands-list">
                            <ul class="list-unstyled">
                                <li class="mb-2"><a href="#" class="text-white text-decoration-none">Adidas</a></li>
                                <li class="mb-2"><a href="#" class="text-white text-decoration-none">Puma</a></li>
                                <li class="mb-2"><a href="#" class="text-white text-decoration-none">Reebok</a></li>
                                <li class="mb-2"><a href="#" class="text-white text-decoration-none">Nike</a></li>
                                <li class="mb-2"><a href="#" class="text-white text-decoration-none">Vans</a></li>
                                <li class="mb-2"><a href="#" class="text-white text-decoration-none">Converse</a></li>
                                <li class="mb-2"><a href="#" class="text-white text-decoration-none">New Balance</a></li>
                                <li class="mb-2"><a href="#" class="text-white text-decoration-none">Fila</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="Category">
                        <h3 class="text-white mb-3">Category</h3>
                        <div class="Brands-list">
                            <ul class="list-unstyled">
                                <li class="mb-2"><a href="#" class="text-white text-decoration-none">Adidas</a></li>
                                <li class="mb-2"><a href="#" class="text-white text-decoration-none">Puma</a></li>
                                <li class="mb-2"><a href="#" class="text-white text-decoration-none">Reebok</a></li>
                                <li class="mb-2"><a href="#" class="text-white text-decoration-none">Nike</a></li>
                                <li class="mb-2"><a href="#" class="text-white text-decoration-none">Vans</a></li>
                                <li class="mb-2"><a href="#" class="text-white text-decoration-none">Converse</a></li>
                                <li class="mb-2"><a href="#" class="text-white text-decoration-none">New Balance</a></li>
                                <li class="mb-2"><a href="#" class="text-white text-decoration-none">Fila</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="Contect">
                        <h3 class="text-white mb-3">Contect Us</h3>
                        <div class="Brands-list">
                            <ul class="list-unstyled">
                                <li class="mb-2"><a href="#" class="text-white text-decoration-none">1800-1132-3425</a></li>
                                <li class="mb-2"><a href="#" class="text-white text-decoration-none">clocksy@gamil.com</a></li>
                                <li class="mb-2"><a href="#" class="text-white text-decoration-none">Help & Support</a></li>
                                <li class="mb-2"><a href="#" class="text-white text-decoration-none">FAQs</a></li>
                                <li class="mb-2"><a href="#" class="text-white text-decoration-none">Contect Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="subscribe">
                        <h3 class="text-white mb-3">Subscribe</h3>
                        <div class="">
                            <form action="">
                                <input type="email" class="form-control mb-2 text-white border-none" style="background-color: transparent; border: none; border: 2px solid #a77018; outline: none;" placeholder="Enter Your Email" required>
                                <button type="submit" class="btn mt-3 btn-outline-none text-white fw-bold" style="background-color:#a77018 ;">Subscribe</button>
                            </form>
                            
                        </div>
                        <div class="icon-social mt-4">
                            <a href="" class="text-decoration-none">
                                <i class="fa-brands fs-3 me-3 fa-twitter text-white"></i>
                            </a>
                            <a href="" class="text-decoration-none">
                                <i class="fa-brands fs-3 text-white me-3 fa-facebook"></i>
                            </a>
                            <a href="" class="text-decoration-none">
                                <i class="fa-brands fs-3 fa-instagram text-white"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="copy-right">
                <hr class="text-white my-4">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="" class="me-2 text-decoration-none">
                            <img src="{% static "/images/payment/icon-pay-01.png" %}" alt="image">
                        </a>
                        <a href="" class="me-2 text-decoration-none">
                            <img src="{% static "/images/payment/icon-pay-02.png" %}" alt="image">
                        </a>
                        <a href="" class="me-2 text-decoration-none">
                            <img src="{% static "/images/payment/icon-pay-03.png" %}" alt="image">
                        </a>
                        <a href="" class="me-2 text-decoration-none">
                            <img src="{% static "/images/payment/icon-pay-04.png" %}" alt="image">
                        </a>
                        <a href="" class="me-2 text-decoration-none">
                            <img src="{% static "/images/payment/icon-pay-05.png" %}" alt="image">
                        </a>
                    </div>
                    <div class="col-md-12 mt-3 text-center">
                        <p class="text-white">Copyright © 2025 Clocksy All Rights Reserved | Made with <i class="fa-regular fa-heart text-success"></i> by <span class="text-success">Clocksy Web Team</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}